<lx-tabs>
    <lx-tab  heading="Posts">
        <div class="p+">
            <div class="card top-space" ng-repeat="pos in posts">
                <div class="p+">
                    <strong class="fs-headline display-block tc-red-900">
                        {{pos.title}}
                    </strong>
                    <div class="paragraph fs-body-1 mt+">
                        {{pos.body}}
                    </div>
                </div>
                    <div class="card__action">
                        <a href="#/post/{{pos.id}}" class="btn btn--m btn--blue btn--flat" lx-ripplr>Leer Más</a>
                        <a ng-click="removePost(pos)" class="btn btn--m btn--red btn--flat" lx-ripplr>Eliminar</a>
                        <a href="#/posts/edit/{{pos.id}}" class="btn btn--m btn--orange btn--flat" lx-ripplr>Editar</a>
                        <a href="#"></a>
                    </div>
            </div>
        </div>
    </lx-tab>
    <lx-tab  heading="Users">
        <div class="card top-space" ng-repeat="user in users">
            <div flex-container="row">
                <div class="card__img card__img--left" style="height:160px;">
                    <img src="imgs/user.jpg" alt="">
                </div>
                <div flex-item flex-container="column">
                    <div flex-item>
                        <strong class="fs-headline display-block">
                            {{user.name}}
                        </strong>
                        <strong class="fs-subhead tc-black-2 display-block">
                            {{user.email}}
                        </strong>
                    </div>
                    <div class="card__action">
                        <a href="#">Ver Usuario</a>
                    </div>
                </div>
            </div>
        </div>
    </lx-tab>
    <lx-tab  heading="Users2">
        <div class="p+">
            Hola mundo users 2
        </div>
    </lx-tab>

</lx-tabs>
