<input type="text" my-autocomplete="repos" placeholder="Buscar">
<ul class="no-list" ng-cloak>

        <li ng-repeat="repo in posts" ng-hide="main_repo && main_repo != repo.name">
            <!-- Directiva NG-SRC -->
            <a href="#/repo/{{repo.name}}">
                <div class="img-circular" back-img="{{repo.owner.avatar_url}}"></div>
                <h1>{{ repo.name }}</h1>
            </a>
        </li>

</ul>

<a ng-click="main_repo = null">Limpiar / Volver</a>
