<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular.min.js"></script>
    <script src="myScript.js"></script>
    <style media="screen">
        .wrapper{
            width: 60%;
            margin: 15px auto;
            padding: 15px;
            background-color: antiquewhite;
        }
        .contact-item{
            margin-bottom: 15px;
        }
    </style>
</head>
<body ng-controller="alumnosController">
    <h1>Cuaderno Alumnos</h1>

    <div class="wrapper">
        <div class="contact-item" ng-repeat="alumno in alumnos">
            <div class="nombre">{{alumno.nombre}} - {{alumno.telefono}}</div>
            <div class="curso">{{alumno.curso}}</div>
        </div>
    </div>
    <button type="button" name="button" ng-click="showForm()" ng-hide="hideForm">Agregar un Contacto</button>

    <div ng-show="hideForm" class="wrapper">
        <h2>Añadir contacto</h2>
        Nombre: <input type="text" ng-model="nuevoAlumno.nombre">
        Telefono:<input type="text" ng-model="nuevoAlumno.telefono">
        Curso:<input type="text" ng-model="nuevoAlumno.curso">
        <button type="button" name="button" ng-click="save()">Agregar</button>
    </div>

</body>
</html>
