<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular.min.js"></script>
    <script src="../modulos/angular-local-storage.min.js"></script>
    <script src="myScript.js"></script>
</head>

<body ng-controller="myController">


    <ul>
        <li ng-repeat="actividad in todo">
            {{actividad.comentario}} - <small>{{actividad.date | date: 'short'}}</small>
        </li>
    </ul>
    <br>
    <form ng-submit="addActividad()">
        <input type="text" ng-model="newActividad.comentario">
        <input type="datetime-local" ng-model="newActividad.date">
        <input type="submit" value="Agregar">
        <!-- <button ng-click="limpiar()">Limpiar/Borrar</button> otra alternativa -->
        <button ng-click="todo = []">Limpiar/Borrar</button>
    </form>

</body>
</html>
