<!DOCTYPE html>
<html  ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Directivas</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular.min.js"></script>
    <script src="script.js"></script>
    <style>
        .img-circular{
            border-radius: 50%;
            width: 100px;
            height: 100px;
            display:inline-block;
        }
    </style>
</head>
<body ng-controller="myController" >

    <ul class="no-list" ng-cloak>
        <li ng-repeat="reporte in repos">
            <!-- Directiva NG-SRC -->
        <div class="img-circular" back-img="{{reporte.owner.avatar_url}}"></div>
        <h1>{{ reporte.name }}</h1>
        </li>
    </ul>

</body>
</html>
