<!DOCTYPE html>
<html  ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Directivas</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body ng-controller="myController" >

    <ul class="no-list" ng-cloak>
        <li ng-repeat="reporte in repos">
            <!-- Directiva NG-SRC -->
            <img ng-src="{{reporte.owner.avatar_url}}" alt="">
        <h1>{{ reporte.name }}</h1>
        </li>
    </ul>

</body>
</html>
