<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Controladores hijos</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular.min.js"></script>
    <script src="controladores.js"></script>
</head>
<body ng-controller="miControlador">

    <p>Mi nombre es: <b>{{nombre + ' ' + aPaterno + ' ' + aMaterno}}</b></p>

    <div ng-controller="SegundoController">

        <p>Accede al <b>Controller Padre</b> nombre: <b>{{$parent.nombre}}</b></p>
        <p>Root en Bloque <b>RUN</b> nombre: <b>{{$parent.$parent.nombre}}</b></p>
        <p>Segundo Controlador <b>{{nombre}}</b></p>
    </div>

</body>
</html>
