<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 2 - AngularJS</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular.min.js"></script>
    <script src="ejercicio2.js"></script>
</head>
<body>
    <div ng-app="invoice1" ng-controller="InvoiceController as invoice">
        <b>Factura:</b>
        <div>
            Cantidad: <input type="number" min="0" ng-model="invoice.qty" required >
        </div>
        <div>
            Valor: <input type="number" min="0" ng-model="invoice.cost" required >

            <select ng-model="invoice.inCurr">
              <option ng-repeat="c in invoice.currencies">{{c}}</option>
            </select>
        </div>
        <div>
            <b>Total:</b>
            <span ng-repeat="c in invoice.currencies">
                <br />{{invoice.total(c) | currency:c}}
            </span>
            <button class="btn" ng-click="invoice.pay()">Pay</button>
        </div>
    </div>


</body>
</html>
