<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular.min.js"></script>
</head>
<body ng-controller="myControlador">
    <input type="text" ng-model="nombre">
     Estas escribiendo {{nombre}}

     <script>
         angular.module('myApp',[]).controller('myControlador', function($scope){
             $scope.nombre = 'Ariel';
         })
     </script>

</body>
</html>
