<!DOCTYPE html>
<html ng-app="appAriel" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular js</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular.min.js"></script>
    <!-- <script src="../angular.min.js" type="mimetype"> type="text/javascript"></script> -->
</head>
<body ng-controller="AlumnoController">
<h1>Ejercicio 1 AngularJS</h1>
<h2>Mi nombre es {{alumno.nombre}} estoy en  {{alumno.curso}}</h2>




<script type="text/javascript">
var app = angular.module('appAriel',[]);
app.controller('AlumnoController', function($scope){
    $scope.alumno = {
        nombre : 'Ariel',
        curso  : '2 medio'
    };
});
</script>
</body>
</html>
