<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular.min.js"></script>

    <style>
        .hover{background-color: #933}
    </style>
</head>
<body ng-app="">
    <h1>Eventos</h1>
    <h2>Click</h2>
    <button ng-click="count = count + 1" ng-init="count=0">Increment</button>
    <span>count: {{count}}</span>

    <h2>mouseover - hover</h2>
    <button ng-mouseover="countMouseover = countMouseover + 1" ng-init="countMouseover=0">Increment (when mouse is over)</button>
    <span>count: {{countMouseover}}</span>

    <h1>Ejemplo</h1>
    <!-- <button ng-mouseover="bandera=true" ng-mouseout="bandera=false" type="button" name="button"> presioname </button> -->
    <button ng-click="bandera = !bandera" ng-class="{'hover': bandera}" type="button" name="button"> presioname </button>
    <span ng-show="bandera">click</span>
    <br><span>{{bandera | json}}</span>
</body>
</html>
