<!DOCTYPE html>
<html  ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Directivas</title>
    <link rel="stylesheet" href="autocomplete-jquery-ui.structure.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="autocomplete-jquery-ui.js"></script>
    <!-- <script src="https://code.angularjs.org/1.4.7/angular-route.min.js"></script> -->


    <script src="script.js"></script>
    <style>
        .img-circular{
            border-radius: 50%;
            width: 100px;
            height: 100px;
            display:inline-block;
        }
        .no-list li{
            list-style-type: none;
        }
        body,html{
            text-align: current;
            background-color: #eee;
            margin: 0;
        }
    </style>
</head>
<body ng-controller="myController" >

    <input type="text" my-autocomplete="repos" placeholder="Buscar">
    <ul class="no-list" ng-cloak>
        <li ng-repeat="repo in posts" ng-hide="main_repo && main_repo != repo.name">
            <!-- Directiva NG-SRC -->
        <div class="img-circular" back-img="{{repo.owner.avatar_url}}"></div>
        <h1>{{ repo.name }}</h1>
        </li>
    </ul>

    <a ng-click="main_repo = null">Limpiar / Volver</a>

</body>
</html>
